#set($pkg = $package.Mapper.substring(0,$package.Mapper.lastIndexOf(".")) + ".respository")
#set($resultPkg = $package.Mapper.substring(0,$package.Mapper.lastIndexOf(".")) + ".result")
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${pkg}.${entity}Respository">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="${resultPkg}.${entity}Result"
        extends="${package.Mapper}.${table.mapperName}.BaseResultMap">
    </resultMap>

    <insert id="insertAndGet"  useGeneratedKeys="true" keyProperty="recId"
            parameterType="${package.Entity}.${entity}">
        #set($vals = "")
        #foreach($field in ${table.fields})
            #set($vals = $vals + "#{" + ${field.propertyName} + "},")
        #end
        #set($vals = $vals.substring(0,$vals.length() - 1))
        insert into
        <include refid="${package.Mapper}.${table.mapperName}.Base_Column_List" />
        ${table.name}
        values (${vals})
    </insert>
</mapper>
